@page
@model RazorPagesComic.Pages_Comics.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Comic</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comic.Title" class="control-label"></label>
                <input asp-for="Comic.Title" class="form-control" />
                <span asp-validation-for="Comic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comic.Issue" class="control-label"></label>
                <input asp-for="Comic.Issue" class="form-control" />
                <span asp-validation-for="Comic.Issue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comic.ReleaseDate" class="control-label"></label>
                <input asp-for="Comic.ReleaseDate" class="form-control" />
                <span asp-validation-for="Comic.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comic.Publisher" class="control-label"></label>
                <input asp-for="Comic.Publisher" class="form-control" />
                <span asp-validation-for="Comic.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
